<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>boogle</title>
    <link rel="stylesheet" href="static/Bootstrap/style.css">
</head>
<form>
  <div class="container">
       <ul id="ul">
            <a href="#"><li> Gmail </li></a>
            <a href="#"><li> Slike </li></a>
            <a href="#"><li> <img src="static/Bootstrap/moleskine.png" height="28px" alt=""> </li></a>
            <a href="#"><li> <img class="toni" src="static/Bootstrap/t.png" alt=""></li></a>
       <ul>
  </div>

 <div id="Boogle">
     <div class="container">
     <img class="img" src="static/Bootstrap/Boogle.jpeg" alt="" width="272" height="92">
     </div>
 </div>

 <div class="input1">
     <input id="inp" type="Pretraživanje" textarea="Pretraživanje" placeholder="Pretraživanje">
     <img src="static/Bootstrap/microphone.png" alt="" class="mic">
     <img src="static/Bootstrap/search.png" alt="" class="search">
 </div>
    <br>
    <br>
    <div class="form">
        <div class="container">
            <a href="/bootstrap"><input id="finp" type="button" textarea="Boogle pretraživanje" value="Idi na stranicu Bootstrap" aria-label="Boogle pretraživanje"></a>
            <a href="/Fakebook"><input id="finp" type="button"  textarea="prati me..." value="Idi na stranicu Fakebook" aria-label="Prati me pozitivna energija"></a>
      </div>
    </div>

    <div class="container">
        <div class="jezik">
        <p>Boogle ponuđen na jeziku: <a id="engl" href="#"> Engleski jezik </a> </p>
        </div>
    </div>

    <div id="Hrvatska">
    <p>Hrvatska</p>
    </div>
    <hr>

 <footer id="footer">

     <ol>

          <li>O nama</li>
          <li>Oglašavanje</li>
          <li>Tvrtka</li>
          <li>Kako funkcionira</li>
          <li>Pretraživanje</li>
         <span id="divf">
          <li>Privatnost</li>
          <li>Uvjeti</li>
          <li>Postavke</li>
         </span>



     </ol>

 </footer>
<body>

</html>


