<!doctype html>
    <head>
    <title>Moja Fakebook stranica</title>
    <link rel="stylesheet" href="static/Fakebook project.html/stil.css">
    </head>
<body>

   <header id="header">
           <h1> Fakebook </h1>
           <p> Ovo je lažna profilna Tonija Lapova </p>
   </header>
        <section id="section">
                <h1><span>To</span>ni Lapov</h1>
                <label> Potraži me na : </label>
                <input type="text" name="Potraži" placeholder="Facebook">
                <br>
                <label> Potraži me na : </label>
                <input type="text" name="Potraži" placeholder="Whatsapp">
                <br>
                <img src="static/Fakebook project.html/Slika profila.jpg" alt="">
        </section>
<div class="main">
     <h1>Programske jezike koje učim</h1>
     <input type="radio" name="Potraži" placeholder="Facebook">
     <label>HTML</label>
     <input type="radio" name="Potraži" placeholder="Facebook">
     <label>CSS</label>
     <input type="radio" name="Potraži" placeholder="Facebook">
     <label>Python</label>
</div>
<div class="p">
        <p class="category"><strong>Grad:</strong>Jezera</p>
        <p class="category"><strong>Godine:</strong>26</p>
        <p class="category"><strong>Obrazovanje:</strong>Upravni studij</p>
        <p class="category"><strong>Hobi:</strong>Filmovi, serije, sport, biciklizam</p>
</div>
</body>